@import url('https://fonts.cdnfonts.com/css/quantico');

html,body {
  color: #fff;
  background-color: #000;
}

body {
  margin: 0;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 span {
  position: relative;
  display: inline-block;
  font-size: 60px;
  font-family: 'Quantico';
  animation: anim 3.8s alternate infinite;
  animation-delay: calc(var(--i) * 0.5s);
}

@keyframes anim {
  0% { transform: translateY(0) rotate(0); }
  40% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-240px) rotate(18deg); }
  60% { transform: translateY(0) rotate(360deg); }
  100% { transform: translateY(0) rotate(360deg); }
}
